body{
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
}  
.mainbox{
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50% ,-50%);
    padding: 15px;
    background-color: black;
    border-radius: 2px;
    display: flex;
    background-color: black;
}
#box1{
    width: 80px;
    height: 80px;
    background-color: bisque;
    float: left;
    font-size: 40px;
    align-items: center;
 
}
#mainbox a{
    position: absolute;
    color: black;
    /* top: 3%; */
    left: 49%;
    font-size: 25px;
   
    /* transform: translate(-20% -20%); */
    text-decoration: none;
}

#box2{
    width: 80px;
    height: 80px;
    background-color: bisque;
    margin-left: 90px;
    font-size: 40px;
    align-items: center;
}
#number{
    /* margin-top: 400px; */
}
#btn{
    color:black;
    border: 2px solid black;
    padding: 10px;
    display: block;
    margin-top: 10px;
    cursor: pointer;
    margin-right: 100px;
}
input{
    margin-top: 20px;
}
.error{
    color: red;
    font-size: 15px;
}



