img{
    width: 150px;
    height: 180px;
    padding: 25px;
    /* margin: 20px; */
    /* margin-left: 20px; */
    /* border: 2px solid black; */
}
div{
    /* border: 2px solid black; */
}
h2{
    font-size: 18px;
}
h3{
    font-size: 15px;
    color: red;
}

#main_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
#box{
    margin-left:30px;
    width: 200px;
    padding: 20px;
    box-shadow: 0 0.6em 1.2em rgba(28, 0.08, 0.06, 0.5);
    margin-top: 35px;
    justify-content: space-between;
    /* background-color: grey; */
   
}
input{
    padding: 8px;
    width: 250px;
    justify-content: center;
    margin-left: 500px;
   
    margin-top: 20px;
    position: fixed;
}
.containor{
    overflow: scroll; 
    display: flex;
    flex-wrap: wrap;
    width: 95%;

}